body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #20232A; /* Dark gray for the navbar */
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.left-column {
    flex-basis: 50%;
}

.left-column img {
    width: 100%;
    height: auto;
}

.right-column {
    flex-basis: 50%;
    background-color: #FF4136; /* Red for the right column */
    color: white;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    text-align: left;
}

form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #0074D9; /* Blue for the button */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056B3; /* Darker blue on hover */
}

footer {
    background-color: #20232A;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
